@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.pin {
  background-color: #aaa;
  display: block;
  height: 10px;
  width: 2px;
  z-index: 1;
}

.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  content: '';
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  top: -10px;
  width: 12px;
}
